# Ignore all task files except Task 01
# tasks/task-02-*.md
# tasks/task-03-*.md
# tasks/task-04-*.md
# tasks/task-05-*.md
# tasks/task-06-*.md
# tasks/task-07-*.md
tasks/task-08-*.md
tasks/task-09-*.md
tasks/task-10-*.md
